.container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container > article {
    width: 45%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model3d{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.model3d > iframe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
